* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Cairo', sans-serif;
  font-family: 'Syne Tactile', cursive;
  height: 100vh;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  font-size: 100px;
}
.grid-wrapper {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 20px;
}
.button {
  width: 630px;
}
.button button {
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 540px;
  width: 630px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.grid div {
  border: 2px solid rgb(5, 5, 5);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 5px;
}

.red-counter {
  background: red;
  border-radius: 50%;
}
.blue-counter {
  background: rgb(40, 8, 221);
  border-radius: 50%;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
  /* padding-bottom: 100px;
  padding-top: 50px; */
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-wrapper button {
  font-family: 'Cairo', sans-serif;
  font-family: 'Syne Tactile', cursive;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 10px;
}
div.results {
  margin: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
hr {
  width: 85%;
}
footer {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  font-family: 'Courier New', Courier, monospace;
}
.cr {
  padding: 30px;
}
.name {
  padding: 30px;
  margin-left: -80px;
}
.linkedin-logo {
  height: 70px;
  width: 85px;
}
span {
  color: red;
  font-weight: bolder;
}
button.computer-button {
  transition: 0.05s;
}
button.computer-button:hover {
  font-size: 0;
}
button.computer-button:hover:after {
  content: 'coming soon!';
  font-size: 20px;
  color: red;
}
